@import "app/theme.scss";

#header {
	border-bottom: 1px solid $border-color;

	.wrapper {
		width: 100%;
		height: 100%;
		padding-bottom: 5px;

		.title {
			float: left;
			display: flex;
			height: 100%;
			
			& > h1 {
				align-self: flex-end;
			}
		}
		.links {
			height: 100%;
			float: right;
			display: flex;
			
			& > a {
				align-self: flex-end;
			}

			a {
				padding: 5px;
				cursor: pointer;
				transition: color 350ms;
				display: inline-block;
				color: inherit;
				text-decoration: none;
				&:hover {
					color: rgba(255, 255, 255, 1);
					transition: 350ms;
				}
				&.active {
					color: $active-link;
				}
			}
		}
	}
}
