@import "app/theme.scss";

#header {
	border-bottom: 1px solid $border-color;

	.wrapper {
		bottom: 5px;
		width: 100%;
		.links {
			bottom: 5px;
			right: 0;
			a {
				padding: 5px;
				cursor: pointer;
				transition: color 350ms;
				&:hover {
					color: rgba(255, 255, 255, 1);
					transition: 350ms;
				}
				&.active {
					color: $active-link;
				}
			}
		}
	}
}
