@import "app/theme.scss";

#server-list {
	padding: 5px;
	.badge-wrapper {
		width: 100%;
		z-index: 5;
		.badge {
			width: 52px;
			height: 52px;
			border-radius: 6px;
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			cursor: pointer;
			transition: 250ms;
			user-select: none;
			margin-bottom: 6px;
			text-transform: capitalize;

			&:hover,
			&:active {
				box-shadow: 0px 0px 5px 0px $active-box-shadow;
			}

			&.new {
				font-size: 35px;
			}
		}
	}

	#server-list-tooltip {
		left: 68px;
		height: 52px;
		padding: 8px 16px;
		z-index: 10;
		border-radius: 6px;
		border: 1px solid $border-color;
		text-align: center;

		span {
			font-size: 16px;
		}

		.name, .version {
			white-space: nowrap;
			display: block;
			text-align: left;
		}

		.prefix {
			font-size: 12px;
		}
	}
}
